DATABASE_URL=
MQTT_BROKER_HOST=localhost
MQTT_BROKER_PORT=1883
MQTT_TOPIC=leafnode/sensors
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash-lite
TREND_DELTA_TEMPERATURE=3.0
TREND_DELTA_HUMIDITY=10.0
TREND_DELTA_LIGHT=500.0
TREND_DELTA_PRESSURE=5.0
